# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Entornos Virtuales
# =========================
venv/
env/
.venv/
.env_venv/
Pipfile.lock

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Archivos estáticos recopilados (generados con collectstatic)
staticfiles/
public/static/

# Archivos subidos por los usuarios
media/
uploads/

# =========================
# Seguridad y Configuración
# =========================
.env
.env.local
.env.*
secrets.json

# =========================
# IDEs y Editores de Código
# =========================
.vscode/
.idea/
*.swp
*.swo
*~

# =========================
# Sistemas Operativos
# =========================
.DS_Store
Thumbs.db