{% extends 'base.html' %}

{% load static %}

{% block title %}
    Course Detail
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock style %}

{% block content %}
    <div class="layout">
        {% include "includes/sidebar.html" %}
        <div class="main-content">
            {% include "includes/header.html" %}
            <main>
                <div class="course-layout">
                    <div class="course-sections">
                        <h2>Contenido del curso</h2>
                        <div class="accordion">

                            {% for section in course.course_content %}
                                <div class="accordion-item">
                                    <button class="accordion-header">
                                        Sección {{ section.id }}: {{ section.name }}</button>
                                    <div class="accordion-content">
                                        <ul>
                                            {% for lesson in section.lessons %}
                                                <li>
                                                    <i class="fa-solid fa-{{ lesson.type }}"></i>{{ lesson.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="course-info-card">
                        <div class="card-banner">
                            <div class="tag">{devilearn}</div>
                            <img src="{% static course.course_image %}"
                                 alt="Curso Django"/>
                            <img class="author-avatar"
                                 src="https://randomuser.me/api/portraits/men/15.jpg"
                                 alt="Autor"/>
                        </div>

                        <div class="card-body">
                            <h3>Acerca de este curso</h3>
                            <ul class="course-details">
                                <li>
                                    <i class="fa-solid fa-file"></i> {{ course.info_course.lessons }} lecciones
                                </li>
                                <li>
                                    <i class="fa-solid fa-video"></i> {{ course.info_course.duration }} horas de
                                    contenido en video
                                </li>
                                <li>
                                    <i class="fa-solid fa-graduation-cap"></i> {{ course.info_course.duration }}
                                </li>
                            </ul>
                            <a class="btn bnt-primary btn-course" href="{% url course.course_link %}">Continuar
                                aprendiendo</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/script.js" %}"></script>
{% endblock %}