{% extends 'base.html' %}

{% load static %}

{% block title %}
    Courses
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% endblock %}

{% block content %}
    <div class="layout">
        {% include "includes/sidebar.html" %}

        <div class="main-content">
            {% include "includes/header.html" %}
            <main>
                <div class="carousel-wrapper">
                    <div class="course-grid">
                        {% for course in courses %}
                            <div class="course-card">
                                <a href="{% url 'course_detail' %}">
                                    <img src="{% static course.course_image %}" alt="Course Image" class="course-img"/>
                                    <div class="course-info">
                                        <div class="course-rating">
                                            <span class="tag beginner">{{ course.level }}</span>
                                            <div class="course-meta">
                                                <span><i class="fa-solid fa-star"></i>{{ course.rating }}</span>
                                            </div>
                                        </div>

                                        <h3 class="course-title">{{ course.course_title }}</h3>
                                        <div class="author">
                                            <img src="{{ course.instructor_image }}"
                                                 alt=""/><span>{{ course.instructor }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
